<div class="row">
    <div class="col-75">
      <div class="container">
        <form action="/action_page.php">
  
          <div class="row">
            <div class="col-50">
              <h3>Boardroom</h3>
              <img src="assets/img/boardroom.jpg" alt="Boardroom" style="width:400px;height:200px;">
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input type="text" id="fname" name="firstname" placeholder="e.g. Tony.K.Ngeno" required>
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input type="text" id="email" name="email" placeholder="e.g. tony@example.com" required>
              <label for="adr"><i class="fa fa-address-card-o"></i> From</label>
              <input type="date" id="adr" name="address" placeholder="01-12-2017" required>
  
              <div class="row">
                <div class="col-50">
                  <label for="state">To</label>
                  <input type="date" id="state" name="state" placeholder="01-12-2017" required>
                </div>
              </div>
            </div>           
  
           </div>
           
      
          <input type="submit" value="Book" class="btn">
        </form>
      </div>
    </div>
  
   